<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <div class="img"></div>
    <div class="container">
      <h1 class="display-3">Rwitter</h1>
      <p>Simple Twitter like app on Rails</p>
      <p><%= render 'form', tweet: @tweet %></p>
    </div>
</div>